<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,400i,700&display=swap" rel="stylesheet">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="flex-column min-100-vh">
  <div class="wrapper">
    <header class="hero">
      <h1 class="app-title">
        <a href="/">Tech Blog For Techies</a>
      </h1>
      <nav class="nav">
          {{#if loggedIn}}
          <a href="/dashboard">dashboard</a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login">login</a>
          {{/if}}
      </nav>
    </header>

    <main>
      {{{ body }}}
    </main>

    <footer>
      Thanks for visiting!
    </footer>
  </div>
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}
</body>

</html>