{{!-- login page layout --}}
<div class="card">
<form class="login-form">
    <h3 class="card-header">Login</h3>
    <label class="form-label" for="username-login">username:</label>
    <input class="form-input" type="text" id="username-login" />
  
    <label class="form-label" for="password-login">password:</label>
    <input class="form-input" type="password" id="password-login" />

    <button class="btn" type="submit">Login</button>
    <a href="/signup"><button class="btn" type="button">Sign Up Instead</button></a>
</form>
</div>

<script src="/javascript/login.js"></script>